{% extends 'myapp/base.html'%}

{% block body %}
 {% load crispy_forms_tags %} 
 {% load bootstrap5 %}
 {% bootstrap_css %}
 {% bootstrap_javascript %}

<div class="container mt-10" style="max-width: 600px;">

    {% if messages %}
    <div class="messages text-success">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <h2 class="text-center">Register</h2>

    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
        {{ form | crispy}}
        </div>
        <input type="submit" value="Register" class="btn btn-success">
    </form>
</div>
    
{% endblock %} 